header {
  padding-top: 15px;
  text-align: center;
}

a.nav-link {
  padding: 10px 15px 15px 15px;
  margin: 0px 5px;
  letter-spacing: 0.05em;
}

.fonts {
  font-family: 'Mukta', sans-serif;
  letter-spacing: 0.05em;
  font-size: 0.9vw;
}

#bg-1 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(assets/blog-bg-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
}

.main-text {
  text-align: center;
  color: white;
  font-family: 'Chelsea Market', cursive;
  letter-spacing: 0.2em;
  font-size: 3vw;
}

.main-desc {
  text-align: center;
  color: white;
  font-family: 'Chelsea Market', cursive;
  font-size: 1vw;
}

.main-more-info {
  background-color: rgba(255, 255, 255, 0.7);
}

#intro p{
  position: relative;
  top: 40%;
}

.btn-warning {
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

#bg-2 {
  background-image:  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(assets/blog-bg-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
}

.w-100 {
  width: 50vw !important;
  height: 30vw;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%20b2aa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%20b2aa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators .active{
    background-color: #dc3545;
}

.gray {
  color: lightgray;
}

#heading {
  font-weight: 700;
}

.ftr {
  background-color: rgba(255, 255, 255, 0.2);
}

.soc {
  color: #F8F1CD;
  padding: 0px 5px 5px 5px;
}

.soc-1:hover {
  color: #3b5998;
}

.soc-2:hover {
  color: #dc3545;;
}

.soc-3:hover {
  color: #00acee;
}

.soc-4:hover {
  color: #211F1F;
}

.white {
  color: #F8F1CD;
}
