header {
  padding-top: 15px;
  text-align: center;
}

a.nav-link {
  padding: 10px 15px 15px 15px;
  margin: 0px 5px;
  letter-spacing: 0.05em;
}

.fonts {
  font-family: 'Mukta', sans-serif;
  letter-spacing: 0.05em;
  font-size: 0.9vw;
}

#bg-1 {
  background-image: url(assets/blog-bg-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
}

.main-text {
  text-align: center;
  color: white;
  font-family: 'Chelsea Market', cursive;
  letter-spacing: 0.2em;
  font-size: 3vw;
}

.main-desc {
  text-align: center;
  color: white;
  font-family: 'Chelsea Market', cursive;
  font-size: 1vw;
}

.main-more-info {
  background-color: rgba(255, 255, 255, 0.7);
}

#intro p{
  position: relative;
  top: 40%;
}

.btn-warning {
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

#bg-2 {
  height: 1000px;
  background-image: url(assets/blog-bg-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
}
